# Ignore env file
webcmd.env

# Ignore eb deploy script
eb_deployer.sh

# Don't upload any zip files
*.zip


# Elastic Beanstalk Files
.elasticbeanstalk/*
.ebextensions/environmentvariable.config
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
